#alaosa {
    width:      100%;
    position:   relative;
    overflow-x: hidden;
    top:        11em;
    padding:    1em;
    text-align: center;
}

.virhe {
    color:      red;
}

ul.selitys {
    width:          400px;
    margin-left:    auto;
    margin-right:   auto;
    text-align:     left;
}

img {
    border: 1px solid #8CA949;
}

.sisalto {
    max-width:  800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 4px #8CA949;
}

.parillinen {
    background-color: #AECC5E;
    /*background-color: #5ECCB2;*/
}

.pariton {
    background-color: #BCD767;
    /*background-color: #67D7B9;*/
}

table {
    width:      100%;
    margin-left: auto;
    margin-right: auto;
    border:     0;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
}

th {
    /*background: #8B70E5;*/
    background-color: #B75369;
    padding: 0.5em;
}

td.avatar {
    width:      256px;
    height:     256px;
}

td.peruskentta {
    text-align:     left;
    vertical-align: top;
}

td.listauskentta {
    overflow:       hidden;
}

a.moderaattori {
    color:          #00A0A0;
}

a.yllapitaja {
    color:          #C00000;
}

a.tavallinen {
    color:          #322454;
}